<footer id="footer" class="footer dark-background">

    <div class="container">
        <div class="row gy-3">

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Ubicación</h4>
                    <p>Managua</p>
                    <p>Nicaragua</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Contacto</h4>
                    <p>
                        <strong>Teléfono:</strong> <span>+505 1234 5678</span><br>
                        <strong>Email:</strong> <span>mesondelatia@gmail.com</span><br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Horario</h4>
                    <p>
                        <strong>Lunes - Domingo:</strong> <span>10AM - 10PM</span><br>
                        <strong>Atención:</strong> <span>Todos los días</span>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4>Síguenos</h4>
                <div class="social-links d-flex">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-whatsapp"></i></a>
                    <a href="#"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container text-center mt-4">
        <p>
            © <span>Copyright</span>
            <strong class="px-1">El Mesón de la Tía</strong>
            <span>Todos los derechos reservados</span>
        </p>

        <div>
            Sitio desarrollado para el negocio
        </div>
    </div>

</footer>