<section id="chefs" class="chefs section">

    <div class="container section-title">
        <h2>Cocina</h2>
        <p><span>Nuestro</span> <span class="description-title">Equipo</span></p>
    </div>

    <div class="container">

        <div class="row gy-4">

            <!-- Cocinero 1 -->
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Don Carlos</h4>
                        <span>Chef Principal</span>
                        <p>Especialista en hamburguesas artesanales y recetas caseras.</p>
                    </div>
                </div>
            </div>

            <!-- Cocinero 2 -->
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Doña Marta</h4>
                        <span>Especialista en Snacks</span>
                        <p>Encargada de papas fritas, hot dogs y comida rápida deliciosa.</p>
                    </div>
                </div>
            </div>

            <!-- Cocinero 3 -->
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Juanito</h4>
                        <span>Parrillero</span>
                        <p>Experto en carnes a la parrilla y preparación rápida.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>