<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-between">

            <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h1>Sabores auténticos que<br>te hacen volver</h1>
                <p>Descubre una experiencia única donde la tradición, el buen sabor y el ambiente familiar se unen para ti.</p>

                <div class="d-flex">
                    <a href="#menu" class="btn-get-started">Ver Menú</a>
                    <a href="#contact" class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-play-circle"></i>
                        <span>Contáctanos</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="Comida tradicional El Mesón de la Tía" />
            </div>

        </div>
    </div>

</section>