<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>TESTIMONIALS</h2>
        <p>What Are They <span class="description-title">Saying About Us</span></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper">

            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Excelente servicio, la comida es increíble y el ambiente muy agradable.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Juan Pérez</h3>
                                    <h4>Cliente</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="~/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Muy recomendado, la atención es rápida y la comida deliciosa.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>María López</h3>
                                    <h4>Diseñadora</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="~/assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>El mejor restaurante que he visitado, volveré sin duda.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Carlos Gómez</h3>
                                    <h4>Empresario</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="~/assets/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Paginación -->
            <div class="swiper-pagination"></div>

        </div>

    </div>

</section>