@{
    ViewData["Title"] = "El Mesón de la Tía";
}

@{
    ViewData["Title"] = "Home";
}

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <h1 class="sitename">Yummy</h1>
            <span>.</span>
        </a>

        <nav class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <a class="btn-getstarted" href="#book-a-table">Book a Table</a>

    </div>
</header>

<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-between">

            <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h1>Enjoy Your Healthy<br>Delicious Food</h1>
                <p>We are team of talented designers making websites with Bootstrap</p>

                <div class="d-flex">
                    <a href="#book-a-table" class="btn-get-started">Book a Table</a>
                </div>
            </div>

            <div class="col-lg-5">
                <img src="~/assets/img/hero-img.png" class="img-fluid" />
            </div>

        </div>
    </div>

</section>

<section id="about" class="about section">

    <div class="container text-center">
        <h2>About Us</h2>
        <p>Learn more about us</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-7">
                <img src="~/assets/img/about.jpg" class="img-fluid" />
            </div>

            <div class="col-lg-5">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit.
                </p>
            </div>

        </div>
    </div>

</section>

<section id="why-us" class="why-us section light-background">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <h3>Why Choose Yummy</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>

            <div class="col-lg-8">
                <div class="row">

                    <div class="col-md-4">
                        <i class="bi bi-clipboard-data"></i>
                        <h4>Quality</h4>
                        <p>Best service</p>
                    </div>

                    <div class="col-md-4">
                        <i class="bi bi-gem"></i>
                        <h4>Premium</h4>
                        <p>Top food</p>
                    </div>

                    <div class="col-md-4">
                        <i class="bi bi-inboxes"></i>
                        <h4>Fast</h4>
                        <p>Quick delivery</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="stats section dark-background">
    <div class="container text-center">
        <div class="row">

            <div class="col-md-3">
                <h2>232</h2>
                <p>Clients</p>
            </div>

            <div class="col-md-3">
                <h2>521</h2>
                <p>Projects</p>
            </div>

            <div class="col-md-3">
                <h2>1453</h2>
                <p>Hours</p>
            </div>

            <div class="col-md-3">
                <h2>32</h2>
                <p>Workers</p>
            </div>

        </div>
    </div>
</section>

<section id="menu" class="menu section">

    <div class="container text-center">
        <h2>Our Menu</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <img src="~/assets/img/menu/menu-item-1.png" class="img-fluid" />
                <h4>Dish 1</h4>
                <p>$5.95</p>
            </div>

            <div class="col-lg-4">
                <img src="~/assets/img/menu/menu-item-2.png" class="img-fluid" />
                <h4>Dish 2</h4>
                <p>$8.95</p>
            </div>

            <div class="col-lg-4">
                <img src="~/assets/img/menu/menu-item-2.png" class="img-fluid" />
                <h4>Dish 2</h4>
                <p>$8.95</p>
            </div>

           
        </div>
    </div>

</section>

<section id="testimonials" class="testimonials section light-background">

    <div class="container text-center">
        <h2>Testimonials</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <p>"Great service!"</p>
                <h5>Client 1</h5>
            </div>

            <div class="col-md-4">
                <p>"Amazing food!"</p>
                <h5>Client 2</h5>
            </div>

            <div class="col-md-4">
                <p>"Will come again"</p>
                <h5>Client 3</h5>
            </div>

        </div>
    </div>

</section>

<section id="events" class="events section">

    <div class="container text-center">
        <h2>Events</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h4>Birthday</h4>
                <p>$499</p>
            </div>

            <div class="col-md-4">
                <h4>Wedding</h4>
                <p>$899</p>
            </div>

            <div class="col-md-4">
                <h4>Private Party</h4>
                <p>$289</p>
            </div>

        </div>
    </div>

</section>

<section id="chefs" class="chefs section">

    <div class="container text-center">
        <h2>Our Chefs</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4 text-center">
                <img src="~/assets/img/chefs/chefs-1.jpg" class="img-fluid" />
                <h4>Chef 1</h4>
            </div>

            <div class="col-md-4 text-center">
                <img src="~/assets/img/chefs/chefs-2.jpg" class="img-fluid" />
                <h4>Chef 2</h4>
            </div>

            <div class="col-md-4 text-center">
                <img src="~/assets/img/chefs/chefs-3.jpg" class="img-fluid" />
                <h4>Chef 3</h4>
            </div>

        </div>
    </div>

</section>

<section id="book-a-table" class="book-a-table section">

    <div class="container text-center">
        <h2>Book a Table</h2>
    </div>

    <div class="container">

        <form>
            <input type="text" placeholder="Name" class="form-control mb-2" />
            <input type="email" placeholder="Email" class="form-control mb-2" />
            <input type="date" class="form-control mb-2" />
            <button class="btn btn-danger">Book</button>
        </form>

    </div>

</section>

<section id="gallery" class="gallery section light-background">

    <div class="container text-center">
        <h2>Gallery</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <img src="~/assets/img/gallery/gallery-1.jpg" class="img-fluid" />
            </div>

            <div class="col-md-3">
                <img src="~/assets/img/gallery/gallery-2.jpg" class="img-fluid" />
            </div>

            <div class="col-md-3">
                <img src="~/assets/img/gallery/gallery-3.jpg" class="img-fluid" />
            </div>

            <div class="col-md-3">
                <img src="~/assets/img/gallery/gallery-4.jpg" class="img-fluid" />
            </div>

        </div>
    </div>

</section>


<section id="contact" class="contact section">

    <div class="container text-center">
        <h2>Contact</h2>
    </div>

    <div class="container">

        <form>
            <input type="text" placeholder="Name" class="form-control mb-2" />
            <input type="email" placeholder="Email" class="form-control mb-2" />
            <textarea class="form-control mb-2"></textarea>

            <button class="btn btn-primary">Send</button>
        </form>

    </div>

</section>

<footer class="footer text-center">
    <p>© Yummy - All Rights Reserved</p>
</footer>

<footer class="footer dark-background text-center p-4">

    <h4>Yummy</h4>
    <p>© All Rights Reserved</p>

    <div>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter-x"></i>
    </div>

</footer>
